.rk3399-eaidk-
/.config
/.old_version
/include/config/
/include/generated/
/log.*
*.img

include/generated
Module.symvers
/.version
/.config
.*.ver
*.o.cmd
*.o
.*.cmd
.*.o.d
.*.o.tmp
log.rk*
.*.dtb.*.tmp
.idea
.vscode*
.built-in.o.cmd
*.o.cmd
*.a
*.h.cmd
*.c.cmd
*.cmd
vmlinux.bin
vmlinux
vmlinux.bin.gz
.config
.missing-syscalls.d
.tmp_System.map
.tmp_vmlinux1
.tmp_vmlinux2
.version
Module.symvers
System.map
*.so.dbg
*.so

# module
modules.builtin
modules.order
*.ko
*.mod.c
.config.old
.tmp_versions


arch/arm64/include/generated/
arch/arm64/kernel/asm-offsets.s
arch/arm64/realmode/rm/realmode.bin
arch/arm64/realmode/rm/realmode.elf
include/config/
include/generated/
kernel/bounds.s
scripts/mod/devicetable-offsets.s
usr/.initramfs_data.cpio.d

